body {
  font-family: sans-serif;
}
.completed {
  text-decoration: line-through;
}
.control {
  margin: 5px auto;
}
.custom {
  height: 40px;
  border-radius: 5px;
}
.todos-custom {
  margin: 10px;
}
.todo-item {
  margin: 3px -70px;
}
input {
  max-width: 360px;
}
