::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  padding: 10px;
}
::-moz-placeholder {
  /* Firefox 19+ */
  padding: 10px;
}
:-ms-input-placeholder {
  /* IE 10+ */
  padding: 10px;
}
:-moz-placeholder {
  /* Firefox 18- */
  padding: 10px;
}
body {
  font-family: sans-serif;
}
.completed {
  text-decoration: line-through;
}
.control {
  margin: 5px auto;
}
.custom {
  height: 40px;
  border-radius: 5px;
}
.todos-custom {
  margin: 10px;
}
.todo-item {
  margin: 3px -70px;
}
input {
  max-width: 360px;
}
